#about {
    padding: 10px;
    width: 100%;
    height: 100%;
    color: white;
}

.about__container {
    padding: 10px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 10px;
}

.about__container h1 {
    text-align: center;
}

.about-divider {
    width: 100%;
    height: 1px;
    background-color: white;
    margin: 10px 0;
}

.about__container .info {
    display: flex;
    flex-direction: column;
    gap: 10px;
}