.home__background {
    position: relative;
    z-index: -1;
    width: 100%;
    height: 100svh;
}

.home__background img {
    position: absolute;
    width: 100%;
    height: inherit;
    object-fit: cover;
}